
body {
   background-color: #000000;
}

h2 {
   color: #fdc501;
}

img {
   max-width: 100%;
   height: auto;
}


.container-fluid {
   max-width: 95%;
   margin: 0 auto;
}
.con-flu-full {
   max-width: 100%;
}

.navbar {
   background-color: #f8f8ff;
   width: 100%;
   color: black;
}
.navbar .container-fluid {
   padding-top: 0.5em; 
}
#nav {
   list-style: none;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
}
#nav li {
   display: inline-block;
   text-align: center;
}
#nav a {
   color: black;
   text-decoration: none;
   font-size: 1.25rem;
   padding: .4em;
}
#nav a:hover,
#nav a:focus {
   color: darkgrey;
}


.main {
   background-color: #000000;
   height: auto;
   width: 100%;
   font-family: 'Montserrat', sans-serif;
}
.main .container-fluid {
   color: white;
   font-size: .8rem;
}
#main-hero {
   height: auto;
   max-height: 500px;
   width: 100%;
   text-align: center;
   background-image: url("../img/sydney1.jpg");
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
#main-hero h1 {
   font-size: 3.5rem;
   padding: 1em .5em 0em .5em;
}
#main-hero h3 {
   font-size: 1.5rem;
   padding-bottom: 1.5em;
}

#main-content {
   height: auto;
   width: 100%;
   padding: 5% 5% 5% 5%;
   text-align: center;
}
#main-text {
   padding: 2% 5% 2% 5%;
   text-align: center;
   font-size: .9rem;
}
#main-thumbs {
   height: auto;
   width: auto;
   padding: .5em;
}
#main-about-index {
   height: auto;
   width: 80%;
   padding: 2% 2% 2% 2%;
   text-align: center;
}
#about-index {
   padding-bottom: 2%;
   font-size: .9rem;
}
#about-index-row {
   text-align: center;
   align-content: center;
}
#about-index-line {
   width: 30%;
}

.footer {
   background-color: #000000;
   height: 10%;
   width: 100%;
   padding: 1% 1% 2% 1%;
   font-family: 'Montserrat', sans-serif;
}
.footer .container-fluid {
   height: 10%;
   width: 80%;
   color: white;
   font-size: 1rem;
   text-align: center;
}
.footer .container-fluid a {
   color: white;
}
#footer-text {
   padding: .2em
}
#footer-icons {
   padding: .4em;
}


#header-line {
   overflow: hidden;
   height: auto;
   display: block;
   padding: 1% 2% 1% 2%;
   margin-left: auto;
   margin-right: auto;
   width: 20%;
}
#h-line {
   overflow: hidden;
   height: auto;
   display: block;
   padding: .5em;
   margin: auto;
   width: 42%;
}
#h-lineA {
   overflow: hidden;
   height: auto;
   display: block;
   padding: .5em;
   margin: auto;
   width: 42%;
}
#h-lineL {
   overflow: hidden;
   height: auto;
   display: block;
   padding: 1% 0% 1% 0%;
   margin-right: auto;
   width: 42%;
}
#h-lineR {
   overflow: hidden;
   height: auto;
   display: block;
   padding: 1% 0% 1% 0%;
   margin-left: auto;
   width: 42%;
}
#v-line {
   overflow: hidden;
   width: auto;
   height: 70%;
   display: block;
   padding: 50% 25% 50% 25%;
   margin: auto;
}
#v-lineC {
   overflow: hidden;
   width: auto;
   height: 20em;
   display: inline-block;
   margin: auto;
}

#section-text {
   text-align: left;
   padding: auto;
   margin: auto;
}
#section-text h2 {
   font-size: 2rem;
}
#section-text p {
   font-size: 1rem;
}
.section-title {
   font-size: 1.4rem;
   font-weight: 600;
   margin: auto;
   padding-top: 1em;
}
.section-header {
   font-size: 1.2rem;
   font-weight: 600;
}
#section-hero {
   padding-top: .5em;
}
.notes-header {
   text-align: center;
   padding: .5em .5em 0em .5em;
}
.notes-list {
   list-style-type: square;
   list-style-position: inside;
   text-align: left;
   padding-bottom: 2em;
   font-size: 1rem;
   padding-left: 0;
   margin-left: 0;
}
.list-item {
   height: auto;
   width: 100%;
   padding: 2em;
   overflow: hidden;
}
.list-header {
   font-size: 1.2rem;
   font-weight: 700;
   padding: 1% 0% 1% 0%;
   text-align: center;
   color: #fdc501;
}
.list-headerL {
   font-size: 1.2rem;
   font-weight: 700;
   padding: 1% 0% 1% 0%;
   text-align: left;
   color: #fdc501;
   text-decoration: none;
}
.list-headerR {
   font-size: 1.2rem;
   font-weight: 700;
   padding: 1% 0% 1% 0%;
   text-align: right;
   color: #fdc501;
   text-decoration: none;
}
.list-text {
   text-align: center;
   padding: 2% 10% 5% 10%;
   width: 100%;
   font-size: .8rem;
}
.list-textL {
   text-align: justify;
   padding: 1% 0% 1% 0%;
   width: 100%;
   font-size: .8rem;
   text-decoration: none;
   margin: none;
}
.list-textR {
   text-align: justify;
   padding: 1% 0% 1% 0%;
   width: 100%;
   font-size: .8rem;
   text-decoration: none;
   margin: none;
}
.list-link {
   text-decoration: none;
}



.main-portfolio {
   background-color: #000000;
   height: auto;
   width: 100%;
   font-family: 'Montserrat', sans-serif;
   color: white;
}

#portfolio-text {
   max-height: auto;
   text-align: center;
   padding: 1em;
   text-decoration: none;
   margin: auto;
   display: block;
}
#portfolio-text h2 {
   font-size: 2rem;
   padding-bottom: .2em;
}
#portfolio-text p {
   font-size: 1rem;
}

#portfolio-img {
   max-height: 20em;
   max-width: 22em;
   padding: 1.5em;
   margin: auto;
   display: block;
}

#portfolio-list {
   padding: 1% 0% 1% 0%;
   list-style-type: none;
   text-decoration: none;
}
#portfolio-list a {
   color: white;
   text-decoration: none;
}

#list-item-portfolioL {
   width: 100%;
   height: auto;
   padding: 1em 0em 1em 0em;
   text-align: left;
   left: .1em;

}
#list-item-portfolioR {
   width: 100%;
   height: auto;
   padding: 1em 0em 1em 0em;
   text-align: right;
   right: .1em;
}



.main-fresh {
   background-color: #000000;
   height: auto;
   width: 100%;
   font-family: 'Montserrat', sans-serif;
   color: white;
}

#fresh-img {
   height: auto;
   width: 100%;
   margin: auto;
   padding-bottom: 2%;
}

#fresh-list {
   list-style-type: none;
}



.main-retro {
   background-color: #000000;
   height: auto;
   width: 100%;
   font-family: 'Montserrat', sans-serif;
   color: white;
}

.retro-img {
   width: 100%;
   overflow: hidden;
   height: auto;
   display: block;
}

#retro-list {
   list-style-type: none;
}

#list-item-retro {
   height: auto;
}
#list-header-retro {
   font-size: 2rem;
   font-weight: 700;
   text-align: center;
   color: #fdc501;
   padding-top: .5em;
}
#list-text-retro {
   text-align: center;
   font-size: .8rem;
}

#h-line-retro {
   overflow: hidden;
   height: auto;
   display: block;
   margin: auto;
   padding-top: .5em;
   padding-bottom: .5em;
   width: 50%;
}



.main-mobile {
   background-color: #000000;
   height: auto;
   width: 100%;
   font-family: 'Montserrat', sans-serif;
   color: white;
}

#mobile-img {
   width: 100%;
   overflow: hidden;
   height: auto;
   display: block;
   margin: auto;
}

#mobile-list {
   list-style-type: none;
}

.list-item-mobile {
   height: auto;
   width: 100%;
   padding: .5em;
}
#list-text-mobile {
   text-align: center;
   padding: .5em 1em .5em 1em;
}



.main-cruise {
   background-color: #000000;
   height: auto;
   width: 100%;
   font-family: 'Montserrat', sans-serif;
   color: white;
}

#cruise-img {
   width: 100%;
   overflow: hidden;
   height: auto;
   display: block;
}

#cruise-list {
   padding-top: .5em;
   list-style-type: none;
}

#list-item-cruise {
   height: auto;
}
#list-text-cruise {
   text-align: center;
   font-size: .8rem;
}



.main-about {
   background-color: #000000;
   height: auto;
   width: 100%;
   font-family: 'Montserrat', sans-serif;
   color: white;
}

#about-text {
   text-align: left;
   font-size: .8rem;
}
#about-text h2 {
   font-size: 2.2rem;
}
#about-text p {
   font-size: .8rem;
}

#about-img {
   overflow: hidden;
   width: 100%;
   height: auto;
   display: block;
   margin: auto;
   padding-top: 1em;
   padding-bottom: 1em;
}
#about-imgH {
   overflow: hidden;
   width: 100%;
   height: auto;
   display: block;
}

#about-header {
   text-align: center;
   padding: 1% 5% 1% 5%;
}
#about-header h2 {
   font-size: 2.4rem;
}
#about-header p {
   font-size: 1rem;
}



/*#overlay{
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0px; 
    left: 0px; 
    background-color: #000000; 
    opacity: 0.7;
    filter: alpha(opacity = 70) !important;
    display: none;
    z-index: 100;
}
#overlayImgP{
    position: fixed; 
    width: 100%;
    height: 100%;
    top: 10px; 
    text-align: center;
    display: none;
    overflow: scroll;
    z-index: 100;
}
#overlayImgW{
    position: fixed; 
    width: 100%;
    height: 100%;
    top: 60px; 
    text-align: center;
    display: none;
    overflow: scroll;
    z-index: 100;
}
#imgGallery{
    margin: 0px auto;
}
#imgFullP, #imgThumb, #imgThumbF1, #imgThumbF2, #imgThumbF3, #imgThumbF4, #imgThumbF5, #imgThumbF6, 
#imgThumbC1, #imgThumbC2, #imgThumbC3, #imgThumbC4, #imgThumbC5, #imgThumbC6, #imgThumbM1, #imgThumbM2, 
#imgThumbM3, #imgThumbM4, #imgThumbM5, #imgThumbM6, #imgThumbR1 {
    cursor: pointer;
}*/

@media (min-width: 1px) and (max-width: 767px) {
   #list-desk {
      display: none;
   }
}

@media (min-width: 1px) and (max-width: 768px) {
   #v-line {
      display: none;
   }
   #v-lineC {
      display: none;
   }
   #portfolio-img {
      display: none;
   }
   #list-headerL {
      padding-top: 1em;
   }
   #list-headerR {
      padding-top: 1em;
   }
   #portfolio-full-img {
      display: none;
   }
   #portfolio-thumb {
      display: block;
   }
}

@media (min-width: 1px) and (max-width: 768px) {
   #list-img-desk {
      display: none;
   }
}

@media (min-width: 1px) and (max-width: 1500px) {
   #portfolio-img {
      display: none;
   }
   #portfolio-spacer {
      display: none;
   }
}

@media (min-width: 576px) and (max-width: 3460px) {
   #h-line {
      display: none;
   }
  
}

@media (min-width: 576px) and (max-width: 768px) {
   #section-text {
      font-size: .8rem;
   }
}

@media (min-width: 576px) and (max-width: 1199px) {
   .list-textL {
      font-size: .6rem;
   }
   .list-textR {
      font-size: .6rem;
   }
   .section-title {
      font-size: 1.2rem;
   }
   .notes-list {
      font-size: .8rem;
   }
   #list-sidetext {
      font-size: .8rem;
   }
}

@media (min-width: 768px) and (max-width: 991px) {
   #main-hero {
      height: 300px;
   }
}

@media (min-width: 992px) and (max-width: 1199px) {
   #main-hero {
      height: 400px;
   }
}

@media (min-width: 1200px) and (max-width: 3460px) {
   #main-hero {
      height: 500px;
   }
}

@media (min-width: 768px) and (max-width: 3460px) {
   #list-mobile {
      display: none;
   }
   #portfolio-thumb {
      display: none;
   }
   #portfolio-full-img {
      display: block;
   }
   #h-lineA {
      display: none;
   }

}


@media (min-width: 768px) and (max-width: 3460px) {
   #list-img-mobile {
      display: none;
   }
}



